.footer {
  text-align: right;
  width: 100%;
  height: 15%;
  background: #EBBD26;
  margin-top: 3%;
  float:left;
}
.first-line{
  width:100%;
  padding-top: 1%;
}
.footer-title {
  font-weight: bold;
  padding-right: 1%;
  padding-top:1%;
}

.footer-copyright {
  float:left;
  width: 100%;
  height: 2%;
  text-align: center;
}
.footer .first-line .facebook{
  height:3%;
  width:3%;
  float:left;
}
.footer .first-line .twitter{
  height:5%;
  width:5%;
  float:left;
}
.footer .first-line .android{
  height:3.5%;
  width:3.5%;
  float:left;
}
.footer .first-line .ios{
  height:6%;
  width:6%;
  float:left;
}
.footer .first-line .instagram{
  height:4%;
  width:4%;
  float:left;
}
.footer .first-line .soundCloud{
  height:5%;
  width:5%;
  float:left;
}
.footer .first-line .vimeo{
  height:4%;
  width:4%;
  float:left;
}
.footer .text{
  padding-right: 1%;
  margin-bottom: 1%;
}