.addExistingPlace{
	width:100%;
	float:left; 
}
.addExistingPlace .top-part{
	width:100%;
	height:5%;
	float:left;
}
.addExistingPlace .top-part .navigation{
	width:100%;
	float:left;
}

.addExistingPlace .top-part .navigation a{
	text-decoration: none;
	color:#DD6D26;
	font-size: 80%;

}
.addExistingPlace .line{
	width:100%;
	float:left;
	margin-bottom: 2%;
}
.addExistingPlace .line .text {
	width:20%;
	float:left;
}
.addExistingPlace .line .input {
	width:80%;
	float:left;
}
.addExistingPlace .line .input textarea{
	width:60%;
	height:20vh;
	float:left;
}
.addExistingPlace .bottom-buttons{
	width:100%;
	margin-top: 5%;
	float:left;
}
.addExistingPlace .bottom-buttons button{
	background:#F4DA9D;
	border:3px solid #DD6D26 ;
	font-weight:bold;
	width:15%;
	cursor: pointer;
	margin-left: 20%;
}
